.imagem-header {
    background-image: url(../imagens/headerV6.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    justify-items: center;

}
.imagem-header img {
    
    width: 600px;
    height: auto;
    
}
.menu ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.menu ul li{
    display: inline;
}
.menu ul li img {
    height: 50px;
    transition: ease-in-out 0.3s;
}
.menu ul li img:hover{
    transform: scale(1.2);
}
h1 {
    font-family:monospace;
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: rgb(121, 255, 255);
    -webkit-text-stroke: 1px rgb(0, 150, 125);
}

video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 910px;
    height: 512px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px black;
}

.imagem-footer {
    background-image: url(../imagens/footer.jpg);
    background-repeat: no-repeat;
    background-size:auto;
    background-position: 100%;
    width: 65%;
    height: 100px;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 5%;
}

.imagem-footer h2{
    display: flex;
    text-align: center;
    padding-left: 53%;
    color: aliceblue;
    -webkit-text-stroke: 0.5px rgb(134, 221, 255);
}

body{
    background-image: linear-gradient(to bottom, rgb(187, 255, 255), rgb(255, 255, 255));
}

hr {
  border: none;
  height: 2px;
  background-color: #d5faff;
}
